<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/header_admin :: header_admin"></div>

    <div class="main-content">

        <h1 class="h1">Canchas</h1>

        <div th:if="${#lists.isEmpty(canchas)}">
            <h3 class = "h3">No hay canchas disponibles, crea una nueva cancha.</h3>
        </div>

        <div th:each="cancha : ${canchas}" class="card">
            <div class="col col-1">
                <h3 class="card-title" th:text="${cancha.tipo}">Tipo</h3>
                <div class="row-between">
                    <div class="col">
                        <p th:text="${cancha.lugar}">Lugar</p>
                        <p th:text="${cancha.precio}">Precio</p>
                    </div>
                    <div>

                        <form th:action="@{/admin/ver-cancha/{id}(id=${cancha.idCancha})}" method = "get">
                            <button type="submit" class="button view-button">Ver</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="button-group">
            <form action="/admin/cancha/nueva" method="get">
                <button type="submit" class="button create-button">Crear</button>
            </form>
            <!--<button class="button delete-button">Borrar</button>-->
        </div>

    </div>
</body>

</html>