<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link th:href="@{/css/form.css}" rel="stylesheet">
  <title th:text="#{admin.arena.form.title}">Crear Cancha</title>
</head>
<body>
<div th:replace="fragments/header_admin :: header_admin"></div>

<div class="main-content">
  <div class="form-card">
    <h2 th:text="#{admin.arena.form.title}">Crear Cancha</h2>
    <form th:object="${cancha}" th:action="@{/admin/cancha/guardar}" method="post">
      <label for="nombre" class="text-white" th:text="#{admin.arena.form.field.name}">Nombre:</label>
      <input type="text" id="nombre" th:field="*{tipo}" th:placeholder="#{admin.arena.form.field.name.placeholder}">

      <label for="lugar" th:text="#{admin.arena.form.field.place}">Lugar:</label>
      <input type="text" id="lugar" th:field="*{lugar}" th:placeholder="#{admin.arena.form.field.place.placeholder}">

      <label for="precio" th:text="#{admin.arena.form.field.price}">Precio:</label>
      <input type="number" id="precio" th:field="*{precio}" th:placeholder="#{admin.arena.form.field.price.placeholder}">

      <button class="button create-button" type="submit" th:text="#{admin.arena.form.submit}">Guardar</button>
    </form>
  </div>
</div>
</body>
</html>