<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>

<body>
    <!--<div th:replace="fragments/header :: header"></div>-->
    <div class="main-content">

        <div th:replace="fragments/header_admin :: header_admin"></div>

        <div class="form-card">
            <h2>Crear Cancha</h2>
            <form th:object="${cancha}" th:action="@{/admin/cancha/guardar}" method="post">
                <label for="nombre" class="text-white">Nombre:</label>
                <input type="text" id="nombre" th:field="*{tipo}">

                <label for="lugar">Lugar:</label>
                <input type="text" id="lugar" th:field="*{lugar}">

                <label for="precio">Precio:</label>
                <input type="number" id="precio" th:field="*{precio}">

                <button class="button create-button" type="submit">Guardar</button>
            </form>
        </div>


    </div>
</body>

</html>