<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

    <div th:replace="fragments/header_admin :: header_admin"></div>

    <div class="main-content">
        <h1 class="h1">Cancha</h1>

            <div class="card card-large">
                <div class="col col-1">
                    <h3 class="card-title" th:text="${cancha.tipo}">Tipo</h3>
                    <div class="row-between">
                        <div class="col">
                            <p th:text=" 'ID: ' + ${cancha.idCancha}">ID</p>
                            <p th:text=" ' Dirección: ' + ${cancha.lugar}">Lugar</p>
                            <p th:text=" '$' + ${cancha.precio}">Precio</p>
                            <p th:text="${cancha.disponibilidad} ? 'Disponible' : 'No Disponible' "></p>
                        </div>

                        <form th:action="@{/admin/eliminar-cancha/{id}(id=${cancha.idCancha})}" method = "post">
                            <button type="submit" class="button delete-button">Eliminar</button>
                        </form>
                    </div>
                </div>


            </div>

    </div>

</body>

</html>