<!-- src/main/resources/templates/login/login.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div th:replace="fragments/header_login :: header_login"></div>
<div class="login-container">
    <form action="/login" method="post" class="login-form">
        <label>Usuario:</label>
        <input type="text" name="username" required>
        <label>Contraseña:</label>
        <input type="password" name="password" required>
        <button type="submit">Ingresar</button>
    </form>
</div>
</body>
</html>