<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div th:replace="fragments/header_admin :: header_admin"></div>

        <div class="form-card">
            <h2>Crear Árbitro</h2>
            <form th:object="${arbitro}" th:action="@{/admin/gestion-arbitros/guardar}" method="post">

                <!-- Campos de Usuario -->
                <h3>Datos de Usuario</h3>

                <label for="username">Usuario:</label>
                <input type="text" id="username" th:field="*{usuario.username}" required>

                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{usuario.email}" required>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" th:field="*{usuario.nombre}" required>

                <label for="apellido">Apellido:</label>
                <input type="text" id="apellido" th:field="*{usuario.apellido}" required>

                <label for="password">Contraseña:</label>
                <input type="password" id="password" th:field="*{usuario.password}" required>

                <label for="foto">Foto (opcional):</label>
                <input type="text" id="foto" th:field="*{usuario.foto}">

                <!-- Campos de Arbitro -->
                <h3>Datos de Árbitro</h3>

                <label for="escalafon">Escalafón:</label>
                    <select id="escalafon" th:field="*{escalafon}" required>
                        <option value=""  th:selected="${arbitro.escalafon} == null">-- Seleccione el escalafón --</option>
                        <option value="Arbitro principal">Municipal</option>
                        <option value="Arbitro asistente">Nacional</option>
                        <option value="Arbitro asistente">Internacional</option>
                    </select>
                        

                <label for="disponibilidad">Disponible:</label>
                <input type="checkbox" id="disponibilidad" th:field="*{disponibilidad}" checked>

                <button class="button create-button" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</body>

</html>
