<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title th:text="#{admin.referee.list.title}">Gestión Árbitros</title>
  <link rel="stylesheet" th:href="@{/css/sidebar.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/header_admin :: header_admin"></div>

<div class="main-content">
  <h1 class="h1 text-white" th:text="#{admin.referee.list.heading}">Gestión de Árbitros</h1>

  <div th:if="${#lists.isEmpty(arbitros)}">
    <h3 class="h3" th:text="#{admin.referee.list.empty}">No hay árbitros disponibles</h3>
  </div>

  <div th:each="arbitro : ${arbitros}" class="card">
    <div class="col col-1">
      <h3 class="h3" th:text="${arbitro.usuario.nombre} + ' ' + ${arbitro.usuario.apellido}"></h3>
      <div class="row-between">
        <div class="icon-text-group">
          <i class="bi bi-bookmark-check text-white"></i>
          <p class="text-white"
             th:text="${arbitro.disponibilidad} ? #{admin.referee.status.available} : #{admin.referee.status.unavailable}">
            Disponible
          </p>
        </div>
        <div class="icon-text-group">
          <i class="bi bi-clipboard2 text-white"></i>
          <p class="text-white" th:text="${arbitro.escalafon}">Escalafón</p>
        </div>
        <form th:action="@{/admin/gestion-arbitros/ver-arbitro/{id}(id=${arbitro.usuario.id})}" method="get">
          <button type="submit" class="button view-button" th:text="#{admin.referee.list.view}">Ver</button>
        </form>
      </div>
    </div>
  </div>

  <div class="button-group">
    <form th:action="@{/admin/gestion-arbitros/nuevo}" method="get">
      <button type="submit" class="button create-button" th:text="#{admin.referee.list.create}">Crear</button>
    </form>
  </div>
</div>
</body>
</html>