<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Gestión Árbitros </title>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <!-- Header -->
    <div th:replace="fragments/header_admin :: header_admin"></div>

    <div class="main-content">
        <h1>Gestión de Árbitros</h1>

        <div th:if="${#lists.isEmpty(arbitros)}">
            <h3 class="h3">No hay árbitros disponibles</h3>
        </div>

        <div th:each="arbitro : ${arbitros}" class="card">

            <div class="col col-1">
                <h3 class="h3" th:text="${arbitro.usuario.nombre} + ' ' + ${arbitro.usuario.apellido}"></h3>
                <div class="row-between">
                        <div class = "icon-text-group">
                            <i class = "bi bi-bookmark-check"></i>
                            <p th:text="${arbitro.disponibilidad} ? 'Disponible' : 'No Disponible' "></p>
                        </div>
                        <div class = "icon-text-group">
                            <i class = "bi bi-tag"></i>
                            <p th:text="${arbitro.especialidad}"></p>
                        </div>
                        <div class = "icon-text-group">
                            <i class = "bi bi-clipboard2"></i>
                            <p th:text="${arbitro.escalafon}"></p>
                        </div>
                        <form th:action="@{/admin/gestion-arbitros/ver-arbitro/{id}(id=${arbitro.usuario.id})}" method="get">
                            <button type="submit" class="button view-button">Ver</button>
                        </form>
                </div>
            </div>

        </div>

        <div class="button-group">
            <form action="/admin/gestion-arbitros/nuevo" method="get">
                <button type="submit" class="button create-button">Crear</button>
            </form>
        </div>
    </div>
</body>

</html>