<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <div th:replace="fragments/header_admin :: header_admin"></div>

    <div class="main-content">
        <h1 class="h1">Perfil del Árbitro</h1>

        <div class="card card-large">

            <form th:object="${arbitro}" th:action="@{/admin/gestion-arbitros/guardar/{id}(id=${arbitro.usuario.id})}"
                method="post" class="col col-1">

                <input type="hidden" th:field="*{usuario.id}" />

                <h3 class="card-title">
                    <span th:text="*{usuario.nombre}">Nombre</span>
                    <span th:text="*{usuario.apellido}">Apellido</span>
                </h3>

                <div class="col">

                    <div class="icon-text-group">
                        <i class="bi bi-person-fill"></i>
                        <input class="field" type="text" th:field="*{usuario.nombre}" placeholder="Nombre">
                        <input class="field" type="text" th:field="*{usuario.apellido}" placeholder="Apellido">
                    </div>

                    <div class="icon-text-group">
                        <i class="bi bi-envelope-fill"></i>
                        <input class="field" type="email" th:field="*{usuario.email}" placeholder="Correo electrónico">
                    </div>


                    <div class="icon-text-group">
                        <i class="bi bi-clipboard2-fill"></i>
                        <label for="escalafon" class="sr-only"></label>
                        <select id="escalafon" class="field" th:field="*{escalafon}">
                            <option value="Municipal">Municipal</option>
                            <option value="Nacional">Nacional</option>
                            <option value="Internacional">Internacional</option>
                        </select>
                    </div>

                    <div class="icon-text-group">
                        <i class="bi bi-check-circle-fill"></i>
                        <label>
                            <input type="checkbox" th:field="*{disponibilidad}">
                            Disponible
                        </label>
                    </div>
                </div>

                <div class="row-between">
                    <button type="submit" class="button view-button">Guardar cambios</button>
                </div>
            </form>

            <!-- Formulario separado para eliminar -->
            <form th:action="@{/admin/gestion-arbitros/eliminar/{id}(id=${arbitro.usuario.id})}" method="post">
                <button type="submit" class="button delete-button">Eliminar</button>
            </form>

        </div>
    </div>
</body>

</html>